@charset "UTF-8";
.topbar {
  background: #F2F2F2;
  height: 36px;
  line-height: 36px;
}

.topbar .right {
  padding-left: 40px;
}

.topbar .right a {
  width: 88px;
  display: inline-block;
  text-align: center;
  background: url("../img/icon.png") no-repeat;
  line-height: 25px;
}

.topbar .right .cart {
  width: 100px;
}

.topbar .right a:first-child {
  background-position: -5px -16px;
}

.topbar .right a:nth-child(2) {
  background: none;
}

.topbar .right a:nth-child(3), .topbar .right a:nth-child(4) {
  background-position: 4px -35px;
}

.topbar .right a:nth-child(5) {
  background-position: 3px -60px;
}

.topbar .right a:nth-child(6) {
  background-position: 7px -91px;
}

.topbar .right a:nth-child(7) {
  background-position: -2px -124px;
  width: 50px;
  text-align: right;
}

/*---------------搜索-----------------*/
.search {
  height: 100px;
  padding-top: 6px;
}

.search .logo {
  width: 200px;
  background: url("../img/logo.png") 0 4px;
  height: 100px;
}

.search .find {
  width: 550px;
  height: 90px;
  font-size: 0;
  padding-left: 100px;
}

.search .find input {
  width: 61px;
  height: 33px;
  border: 1px solid black;
  background: #6C6B6B;
  color: white;
  font-size: 14px;
}

.search .find input:first-child {
  width: 200px;
  border: 1px solid black;
  margin-top: 10px;
  height: 33px;
  border-right: 0;
  background: none;
  padding-left: 3px;
  caret-color: black;
}

.search .find div {
  height: 34px;
  line-height: 34px;
  color: #7C7C7C;
}

.search .find div span {
  width: 30px;
  display: inline-block;
}

/*-----------导航-------*/
.nav {
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-weight: 600;
}

.nav .container {
  position: relative;
  background: url("../img/phone.fw.png") no-repeat right;
}

.nav .container a {
  padding: 0 21px;
  font-size: 14px;
}

.nav .container a:hover {
  color: red;
}

.nav .container h1 {
  background: #C01E20;
  color: white;
  width: 202px;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  margin-left: -552px;
  position: relative;
}

.nav .container h1 i {
  position: absolute;
  display: inline-block;
  width: 9px;
  height: 9px;
  background: url("../img/icon.png") -7px -8px;
  right: 18px;
  top: 15px;
}

.nav .container ul {
  position: absolute;
  background: #373232;
  left: 0;
  top: 38px;
  width: 202px;
  display: none;
  z-index: 3;
  opacity: 0.84;
}

.nav .container ul li {
  border-bottom: 1px solid black;
}

.nav .container ul li:hover {
  background: black;
  opacity: 1;
}

.nav .container ul a {
  float: left;
  padding: 0 9px;
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.nav .container ul .first a:first-child, .nav .container ul .second a:first-child {
  height: 90px;
}

.nav .container ul .third a:first-child, .nav .container ul .fourth a:first-child {
  height: 67px;
}

/*--------------轮播图-------------*/
#banner {
  margin: 0 auto;
}

/*-----------活动展示-------*/
#showNews {
  height: 245px;
  padding-top: 16px;
}

#showNews .container div {
  float: left;
  margin-right: 15px;
  box-shadow: 2px 3px 8px black;
  padding: 3px;
  border: 1px solid #CAC9C1;
  transition: all 0.4s;
  height: 207px;
}

#showNews .container div:hover {
  transform: scale(1.12, 1.12) translate(0, -30px);
  box-shadow: 5px 6px 14px black;
  background: white;
}

#showNews .container div a {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 4px;
}

#showNews .container div:last-child {
  margin-right: 0px;
}

/*----------钻石筛选---------------*/
#choice {
  height: 160px;
}

#choice .container {
  padding: 20px 20px 16px 16px;
  box-shadow: 0px 1px 6px black;
}

#choice .container .DMch {
  width: 520px;
}

#choice .container .DMch div {
  float: left;
  line-height: 30px;
  border: 1px solid #CECECE;
  height: 30px;
  margin-right: 10px;
  border-radius: 4px;
}

#choice .container .DMch div p {
  width: 48px;
  height: 29px;
  background: #B7B7B7;
  display: inline-block;
  text-align: center;
  border-radius: 4px 0 0 4px;
  font-weight: 600;
}

#choice .container .DMch div span {
  width: 32px;
  height: 19px;
  border: 1px solid #8E8E8E;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 10px;
  background: #E6E7E2;
  line-height: 19px;
  text-align: center;
  display: inline-block;
}

#choice .container .DMch div span:hover {
  background: #050505;
  color: white;
  cursor: pointer;
}

#choice .container .DMch .d1 {
  width: 212px;
}

#choice .container .DMch .d1 p {
  margin-right: 10px;
}

#choice .container .DMch .d1 input {
  width: 42px;
  height: 18px;
}

#choice .container .DMch .d2 {
  width: 293px;
  margin-right: 0;
}

#choice .container .DMch .d2 span {
  margin-right: 4px;
  width: 26px;
}

#choice .container .DMch .d3 {
  width: 212px;
  margin-top: 16px;
}

#choice .container .DMch .d3 span {
  margin-right: 4px;
  width: 31px;
}

#choice .container .DMch .d4 {
  width: 293px;
  margin-right: 0;
  margin-top: 16px;
}

#choice .container .DMch .d4 span {
  margin-right: 3px;
}

#choice .container .DMch .d4 p {
  margin-right: 2px;
}

#choice .container .DMch .ser_dm {
  margin-left: 380px;
  margin-top: 12px;
  height: 30px;
  width: 86px;
  font-size: 14px;
  background: #262520;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  color: white;
  letter-spacing: 2px;
}

#choice .container .DMch .ser_dm:hover {
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s;
}

/*---------主模块1------------*/
#main1, #main3 {
  margin-top: 18px;
}

#main1 .container, #main3 .container {
  height: 430px;
  border: 1px solid #AAAAAA;
  padding-left: 9px;
}

#main1 .container img:hover, #main3 .container img:hover {
  cursor: pointer;
  transform: translate(0, -20px);
  box-shadow: 5px 6px 14px black;
  transition: all 0.6s;
}

#main1 .container .kind, #main3 .container .kind, #main1 .container .show_img, #main3 .container .show_img, #main1 .container .goods_show, #main3 .container .goods_show {
  float: left;
  margin-right: 4px;
  margin-top: 6px;
}

#main1 .container .kind, #main3 .container .kind {
  background: #F8F8F8;
  width: 309px;
  height: 412px;
}

#main1 .container .kind .more, #main3 .container .kind .more {
  margin-bottom: 6px;
}

#main1 .container .kind span, #main3 .container .kind span {
  margin: 0 221px 0 25px;
  display: inline-block;
  width: 100px;
  padding: 6px 0;
  font-weight: 600;
}

#main1 .container .kind span:hover, #main3 .container .kind span:hover {
  cursor: pointer;
}

#main1 .container .kind span:hover:hover, #main3 .container .kind span:hover:hover {
  color: #D50000;
}

#main1 .container .kind .name_kind, #main3 .container .kind .name_kind {
  height: 110px;
}

#main1 .container .kind img:hover, #main3 .container .kind img:hover {
  transform: translate(0, 0);
  box-shadow: 0 5 10px black;
  transition: all 0.6s;
}

#main1 .container .goods_show, #main3 .container .goods_show {
  margin: 0;
  width: 600px;
}

#main1 .container .goods_show div, #main3 .container .goods_show div {
  float: left;
}

/*---------主模块2------------*/
#main2, #main4, #main5 {
  margin-top: 18px;
}

#main2 .container, #main4 .container, #main5 .container {
  height: 430px;
  border: 1px solid #AAAAAA;
  padding-left: 6px;
}

#main2 .container img:hover, #main4 .container img:hover, #main5 .container img:hover {
  cursor: pointer;
  transform: translate(0, -20px);
  box-shadow: 5px 6px 14px black;
  transition: all 0.6s;
}

#main2 .container .kind, #main4 .container .kind, #main5 .container .kind, #main2 .container .show_img, #main4 .container .show_img, #main5 .container .show_img, #main2 .container .goods_show, #main4 .container .goods_show, #main5 .container .goods_show {
  float: left;
  margin-right: 2px;
  margin-top: 6px;
}

#main2 .container .kind, #main4 .container .kind, #main5 .container .kind {
  background: #F8F8F8;
  width: 309px;
  height: 412px;
}

#main2 .container .kind .more, #main4 .container .kind .more, #main5 .container .kind .more {
  margin-bottom: 6px;
}

#main2 .container .kind span, #main4 .container .kind span, #main5 .container .kind span {
  margin: 0 221px 0 25px;
  display: inline-block;
  width: 100px;
  padding: 6px 0;
  font-weight: 600;
}

#main2 .container .kind span:hover, #main4 .container .kind span:hover, #main5 .container .kind span:hover {
  cursor: pointer;
}

#main2 .container .kind span:hover:hover, #main4 .container .kind span:hover:hover, #main5 .container .kind span:hover:hover {
  color: #D50000;
}

#main2 .container .kind .name_kind, #main4 .container .kind .name_kind, #main5 .container .kind .name_kind {
  height: 110px;
}

#main2 .container .kind img:hover, #main4 .container .kind img:hover, #main5 .container .kind img:hover {
  transform: translate(0, 0);
  box-shadow: 0 5 10px black;
  transition: all 0.6s;
}

#main2 .container .show_img, #main4 .container .show_img, #main5 .container .show_img {
  margin-right: 0;
}

#main2 .container .goods_show, #main4 .container .goods_show, #main5 .container .goods_show {
  margin-top: 0;
  width: 600px;
}

#main2 .container .goods_show div, #main4 .container .goods_show div, #main5 .container .goods_show div {
  float: left;
}

/*---------主模块3------------*/
/*---------主模块4------------*/
/*---------主模块5------------*/
/*---------图片入口1------------*/
#homeline1 {
  height: 116px;
}

#homeline1 .container {
  margin-top: 16px;
  box-shadow: 1px 3px 7px #CECFC7;
}

#homeline1 .container div {
  float: left;
  margin-right: 8px;
}

#homeline1 .container div:first-child {
  margin-right: 11px;
}

#homeline1 .container div:last-child {
  margin-right: 0;
}

#homeline1 .container img {
  transition: all 0.6s;
}

#homeline1 .container img:hover {
  border-radius: 40px;
  box-shadow: 0px 0px 14px black;
  cursor: pointer;
}

/*---------图片入口2------------*/
#homeline2 {
  margin-top: 16px;
}

#homeline2 img {
  transition: all 0.6s;
}

#homeline2 img:hover {
  border-radius: 40px;
  box-shadow: 0px 0px 14px black;
  cursor: pointer;
}

/*---------新闻------------*/
#news {
  margin-top: 16px;
}

#news .container div {
  float: left;
  width: 323px;
  height: 288px;
  border: 1px solid #E0E0E0;
  margin-right: 8px;
}

#news .container div:last-child {
  width: 185px;
  margin-right: 0;
}

#news .container div h5 {
  padding-left: 16px;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  background: -webkit-linear-gradient(90deg, #B7B6AA 0, white 80%);
}

#news .container div img {
  margin: 6px auto 0;
}

#news .container div img:last-child {
  margin-top: 0;
}

#news .container div ul {
  list-style: disc;
  margin-left: 22px;
}

#news .container div ul li {
  height: 28px;
  line-height: 28px;
}

#news .container div ul li a:hover {
  color: #A60000;
}

/*---------尾部------------*/
#footer {
  margin-top: 40px;
}

#footer .cityshop {
  height: 282px;
}

#footer .cityshop .cityCh {
  height: 30px;
  line-height: 30px;
}

#footer .cityshop .cityCh h5 {
  width: 366px;
  padding-left: 20px;
  font-size: 18px;
  float: left;
}

#footer .cityshop .cityCh .city span {
  width: 60px;
  text-align: center;
  display: inline-block;
  font-weight: 600;
}

#footer .cityshop .cityCh .city span:hover {
  cursor: pointer;
  background: url("../img/select.gif") 0 -4px;
}

#footer .detail_city {
  border: 1px solid #8D917D;
  border-top: 3px solid #6A6D5C;
}

#footer .detail_city .address {
  background: url("../img/map.png") no-repeat center;
  float: left;
  padding-top: 38px;
  width: 674px;
  height: 225px;
  text-align: center;
}

#footer .detail_city .address p {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
}

#footer .detail_city .address .ad1 {
  font-weight: 600;
}

#footer .detail_city .city_img {
  float: right;
}

#footer .footer_img {
  margin-left: 10px;
}

#footer .footer_img img {
  margin: 0 auto;
}

#footer .service {
  padding-top: 16px;
  background: #E8E8E8;
  height: 160px;
}

#footer .service .container div {
  float: left;
  width: 194px;
  border-right: 1px solid #B7B7B7;
}

#footer .service .container div:first-child {
  border-left: 1px solid #B7B7B7;
}

#footer .service ul {
  padding-left: 52px;
  padding-top: 20px;
  height: 130px;
  position: relative;
}

#footer .service ul li {
  height: 26px;
  line-height: 26px;
}

#footer .service ul li a {
  color: #4B4E43;
}

#footer .service ul li a:hover {
  color: red;
}

#footer .service ul span {
  font-weight: 600;
}

#footer .service ul i {
  position: absolute;
  display: inline-block;
  width: 22px;
  height: 22px;
  top: 15px;
  left: 26px;
  background: url("../img/s_img.fw.png") -10px -4px;
}

#footer .service div:nth-child(2) i {
  background-position: -50px;
}

#footer .service div:nth-child(3) i {
  background-position: -90px;
}

#footer .service div:nth-child(4) i {
  background-position: -130px;
}

#footer .service div:nth-child(5) i {
  background-position: -170px;
}

#footer .service div:nth-child(6) i {
  background-position: -210px;
}

#footer .rights {
  height: 98px;
  background: #323232;
}

#footer .rights p {
  padding: 20px 0 0 30px;
  color: #AAAC9D;
}

#footer .rights p span {
  color: red;
}

#footer .attestation .container {
  height: 85px;
  background: url("../img/footer_att.png") -11px 0;
}

#footer .attestation .container div {
  float: left;
  width: 120px;
  height: 50px;
  margin-right: 56px;
  margin-top: 16px;
}

#footer .attestation .container div:last-child {
  margin-right: 0;
}

#footer .attestation .container div a {
  height: 50px;
  width: 120px;
  display: inline-block;
}

#footer .link {
  background: #E8E8E8;
  padding: 18px 0 0 36px;
}

#footer .link .container {
  height: 110px;
  color: #838673;
}

#footer .link .container span {
  display: inline-block;
  width: 125px;
  text-align: center;
  float: left;
}

#footer .link .container .netLink {
  width: 1046px;
  height: 60%;
  float: left;
}

#footer .link .container .netLink a {
  display: inline-block;
  width: 90px;
  margin-bottom: 10px;
  color: #838673;
}

#footer .link .container .netLink a:hover {
  color: red;
}

#footer .link .container p {
  text-align: right;
  padding-right: 50px;
  height: 30px;
  float: right;
  margin-top: 20px;
}
