#main .p1 span {
  color: #FF5A0B;
  font-weight: 600;
}

#main .page {
  padding-left: 890px;
}

#main .page span {
  background: #EBEBE7;
  font-weight: 600;
  display: inline-block;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  cursor: pointer;
}

#main .page .next {
  width: 40px;
}

#main .page .active {
  color: red;
}

#main .left {
  width: 240px;
  border: 1px solid #A2A2A2;
  padding-bottom: 20px;
  float: left;
  margin-top: 20px;
}

#main .left ul {
  width: 202px;
  margin: 0 auto;
}

#main .left ul li {
  border: 1px dashed black;
  margin-top: 20px;
  background: #F3F3F1;
  border-right: 0;
  border-left: 0;
}

#main .left ul a {
  float: left;
  padding: 0 9px;
  font-size: 12px;
  font-weight: 500;
  line-height: 40px;
}

#main .left ul a:hover {
  color: red;
}

#main .left ul .first a:first-child, #main .left ul .second a:first-child {
  height: 90px;
}

#main .left ul .third a:first-child, #main .left ul .fourth a:first-child {
  height: 67px;
}

#main .left p {
  font-weight: 600;
  padding-left: 10px;
  height: 36px;
  line-height: 36px;
}

#main .goods {
  width: 900px;
  float: right;
  margin: 20px 0;
}

#main .goods li {
  float: left;
  width: 300px;
  border: 1px solid #C3C3C3;
  height: 297px;
  cursor: pointer;
  overflow: hidden;
}

#main .goods li img:hover {
  transform: scale(0.9, 0.9);
  background: white;
  transition: all 0.6s;
}

#main .goods li p {
  height: 36px;
  line-height: 36px;
  padding-left: 30px;
  background: #EAEAEA;
}

#main .goods li p .np {
  margin-left: 70px;
}

#main .goods li p .np i {
  font-size: 14px;
  font-weight: 600;
  color: red;
}

#main .goods li img {
  width: 262px;
  height: 262px;
  margin: 0 auto;
}
